<!DOCTYPE html>
<html lang="en">

<head>
	<title>Patient Entry</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<link rel='stylesheet' type='text/css' media="all" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	

	<!-- Calendar -->
	<link rel="stylesheet" type='text/css' media="all" href="stylesheets/jquery-ui.css" />
	<!-- //Calendar -->
	

	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>

<body style="margin-top:-1%">

<div>
	<div><h1 class="header-w3ls">Patient Entry Form </h1></div>
<!-- Search Form -->
	<div>
		<form action = "patientlist" method="get">
			<button class="w3-hide-small w3-hide-medium w3-button w3-right w3-red w3-hover-blue" id = "search_p"><h4>SEARCH PATIENTS</h4></button>
			<button style="margin-left: 40%" class="w3-button w3-hover-blue w3-red w3-center w3-hide-large" id = "search_p1">SEARCH PATIENTS</button>
		</form>
	</div>
</div>

	

<!-- Patient Entry form -->
	<div class="appointment-w3">
		<form action="/patients" method="post">
			<div class="personal">
				<div class="main">
					<div class="form-left-w3l">
						<input type="text" class="top-up" name="fname" placeholder="First Name" required="true" id = "fname">
					</div>
					<div class="form-left-w3l">
						<input type="text" placeholder="Last Name" name="lname" required="true" id = "lname">
					</div>
					<div class="form-right-w3ls">
						<input class="buttom" type="text" name="pnum" placeholder="Phone Number" required="true" id = "pnum">
						
					</div>
					<div class="form-right-w3ls">
						<input class="buttom" type="text" name="age" placeholder="Age" required="true" id = "age">
						
					</div>
				</div>		
			</div>
			<div class="information">	
				<div class="main">	
					<div class="form-left-w3l">
						<input id="datepicker" name="dob" type="text" placeholder="Date of Birth" required="true">
						
					</div>
				</div>	
				<div class="main">
					<div class="form-left-w3l">
						<select class="form-control" id = "gender" name="gender">
							<option>Male</option>
							<option>Female</option>
							<option>Other</option>
						</select>
					</div>
					<div class="form-left-w3l">
						<input type="text" class="top-up" placeholder="Description" name="desc" required="true">
					</div>
				</div>
			</div>
			<div class="btnn">
				<input type="submit" value="Submit information" id = "submit">
			</div>	
		</form>

		<!-- Patient Entry Form ends here -->
	</div>
	<!-- js -->
	<script type='text/javascript' src='javascripts/main.js'/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
  		$( function() {
    		$("#datepicker").datepicker();
  		});
    </script>

</body>

</html>